<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../static/css/core-base.css" />
    <link rel="stylesheet" href="../../static/css/general.css" />
    {% block css_links %}{% endblock %}

    <title>Document</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block message_popup %}{% endblock %}
    {% block new_trade_sidebar %}{% endblock %}

    <div class="nav-sidebar">
      <!-- LOGO -->
      <img class="logo" src="../../static/img/logo.svg" />

      <!-- NAVIGATION LINKS -->
      <!-- HOME LINK -->
      <a class="nav-sidebar-item" href="{{ url_for('core.dashboard') }}">
        <img class="nav-sidebar-icon" src="../../static/img/icons/home.svg" />
        <p class="nav-sidebar-text">Home</p>
      </a>

      <!-- MY TRADES LINK -->
      <a class="nav-sidebar-item" href="{{ url_for('core.my_trades') }}">
        <img
          class="nav-sidebar-icon"
          src="../../static/img/icons/sliders.svg"
        />
        <p class="nav-sidebar-text">My Trades</p>
      </a>

      <!-- TOP COINS LINK -->
      <a class="nav-sidebar-item" href="{{ url_for('core.top_coins') }}">
        <img
          class="nav-sidebar-icon"
          src="../../static/img/icons/line-chart.svg"
        />
        <p class="nav-sidebar-text">Top Coins</p>
      </a>

      <!-- NEWS LINK -->
      <a class="nav-sidebar-item" href="#">
        <img class="nav-sidebar-icon" src="../../static/img/icons/fire.svg" />
        <p class="nav-sidebar-text">News</p>
      </a>

      <!-- REVIEWS LINK -->
      <a class="nav-sidebar-item" href="#">
        <img
          class="nav-sidebar-icon"
          src="../../static/img/icons/thunderbolt.svg"
        />
        <p class="nav-sidebar-text">Reviews</p>
      </a>

      <!-- GUIDES LINK -->
      <a class="nav-sidebar-item" href="#">
        <img
          class="nav-sidebar-icon"
          src="../../static/img/icons/experiment.svg"
        />
        <p class="nav-sidebar-text">Guides</p>
      </a>
    </div>

    <!-- MAIN SECTION OF THE PAGE -->
    <div class="main">
      <!-- PORTFOLIO VALUE HEADER -->
      <header>
        <div class="header-info-container">
          <h1 class="header-info-portfolio-label">Portfolio</h1>
          <img
            class="header-info-image"
            src="../../static/img/dollar_symbol.svg"
          />
          <h1 class="header-info-portfolio-value">$1,000,000</h1>
        </div>
      </header>

      <div class="main-content">{% block content %}{% endblock %}</div>
    </div>

    {% block js_scripts %}{% endblock %}
  </body>
</html>
