<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../static/css/core-base.css" />
    <link rel="stylesheet" href="../../static/css/general.css" />
    {% block css_links %}{% endblock %}

    <title>Document</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block message_popup %}{% endblock %}
    {% block new_trade_sidebar %}{% endblock %}

    <!-- TOP NAVIGATION BAR -->
    <div class="nav-container">
      <!-- LOGO -->
      <img class="logo" src="../../static/img/logo.svg" />

      <!-- NAVIGATION LINKS -->
      <!-- HOME LINK -->
      <a class="nav-container-item" href="{{ url_for('core.dashboard') }}">
        <img class="nav-container-icon" src="../../static/img/icons/home.svg" />
        <p class="nav-container-text">Home</p>
      </a>

      <!-- MY TRADES LINK -->
      <a class="nav-container-item" href="{{ url_for('core.my_trades') }}">
        <img
          class="nav-container-icon"
          src="../../static/img/icons/sliders.svg"
        />
        <p class="nav-container-text">My Trades</p>
      </a>

      <!-- TOP COINS LINK -->
      <a class="nav-container-item" href="{{ url_for('core.top_coins') }}">
        <img
          class="nav-container-icon"
          src="../../static/img/icons/line-chart.svg"
        />
        <p class="nav-container-text">Top Coins</p>
      </a>

      <!-- NEWS LINK -->
      <a class="nav-container-item" href="{{ url_for('core.coin_info') }}">
        <img class="nav-container-icon" src="../../static/img/icons/fire.svg" />
        <p class="nav-container-text">Coin Info</p>
      </a>

      <!-- REVIEWS LINK -->
      <a class="nav-container-item" href="#">
        <img
          class="nav-container-icon"
          src="../../static/img/icons/thunderbolt.svg"
        />
        <p class="nav-container-text">Reviews</p>
      </a>

      <!-- GUIDES LINK -->
      <a class="nav-container-item" href="#">
        <img
          class="nav-container-icon"
          src="../../static/img/icons/experiment.svg"
        />
        <p class="nav-container-text">Guides</p>
      </a>

      <!-- PORTFOLIO VALUE HEADER -->
      <div class="portfolio-container">
        <h1 class="portfolio-container__label">Portfolio</h1>
        <img
          class="portfolio-container__img"
          src="../../static/img/dollar_symbol.svg"
        />
        <h1 class="portfolio-container__total-value">$1,000,000</h1>
        <p class="portfolio-container__value-diff">+0.2%</p>
        <img
          class="portfolio-container__diff-arrow"
          src="../../static/img/icons/arrow-up.svg"
        />
      </div>
    </div>
    <div class="main-content">{% block content %}{% endblock %}</div>

    {% block js_scripts %}{% endblock %}
  </body>
</html>
