<!-- prettier-ignore -->
{% extends "core/core-base.html" %} 
{% block css_links %}
<link rel="stylesheet" href="../../static/css/general.css" />
<link rel="stylesheet" href="../../static/css/dashboard.css" />
<link rel="stylesheet" href="../../static/css/new-trade.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block message_popup %}
<div class="message-popup">
  <p class="message-popup-text"></p>
  <button class="message-popup-close-btn">Close</button>
</div>
{% endblock %}
<!-- NEW TRADE SIDEBAR -->
{% block new_trade_sidebar %} {% include "./core/new-trade.html" %} {% endblock
%}
<!-- prettier-ignore -->
{% block content %}
<!-- TRENDING COINS SECTION -->
<div class="trending-coins-container">
  <!-- HEADER -->
  <div class="trending-coins-header">
    <p class="trending-coins-header-title">Trending Coins</p>
    <p class="new-trade-btn">New Trade</p>
  </div>

  <!-- TRENDING COINS CARDS -->
  <div class="trending-coins-cards"></div>
</div>

<div class="main-page">
  <div class="main-page__feed">
    <!-- GLOBAL FEED/MY FEED HEADER -->
    <div class="feed-header">
      <p class="feed-header__global-label">Global feed</p>
      <p class="feed-header__own-label">My feed</p>
    </div>

    <div class="global-feedposts-container"></div>

    <div class="own-feedposts-container"></div>
  </div>

  <div class="main-page__positions">
    <div class="positions-header">
      <p class="positions-header__overview-label">Overview</p>
      <p class="positions-header__open-positions-label">Open Positions</p>
    </div>

    <div class="portfolio-overview-card">
      <p class="title">Portfolio Overview</p>

      <table class="portfolio-overview-card__table">
        <tr class="portfolio-overview-card__table-row">
          <th>Holdings</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td class="holdings-data">
            <img src="../../static/img/dollar_symbol.svg" />
            <p>Play USD</p>
          </td>
          <td class="amount-data">$95,514.63</td>
        </tr>
      </table>
    </div>

    <div class="open-positions-card">
      <p class="title--limit-buy">Limit Buy Orders</p>
      <div class="limit-buy-orders-container"></div>

      <p class="title--limit-sell">Limit Sell Orders</p>
      <div class="limit-sell-orders-container"></div>

      <p class="title--stop-buy">Stop Buy Orders</p>
      <div class="stop-buy-orders-container"></div>

      <p class="title--stop-sell">Stop Sell Orders</p>
      <div class="stop-sell-orders-container"></div>
    </div>
  </div>
</div>

<!-- Only exists so that the IntersectionObserver can detect if the user has reached
     the end of the page -->
<div id="page-end" style="height: 20px"></div>
{% endblock %}
<!-- prettier-ignore -->
{% block js_scripts %}
<script>
  const COINGECKO_API_KEY = "{{ COINGECKO_API_KEY }}";
</script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script type="module" src="../../static/js/core-base.js"></script>
<script type="module" src="../../static/js/dashboard.js"></script>
<script type="module" src="../../static/js/new-trade.js"></script>
{% endblock %}
