<!-- prettier-ignore -->
{% extends "core/core-base.html" %} 
{% block css_links %}
<link rel="stylesheet" href="../../static/css/general.css" />
<link rel="stylesheet" href="../../static/css/dashboard.css" />
<link rel="stylesheet" href="../../static/css/new-trade.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block message_popup %}
<div class="message-popup">
  <p class="message-popup-text"></p>
  <button class="message-popup-close-btn">Close</button>
</div>
{% endblock %}
<!-- NEW TRADE SIDEBAR -->
{% block new_trade_sidebar %} {% include "./core/new-trade.html" %} {% endblock
%}
<!-- prettier-ignore -->
{% block content %}
<!-- OPEN POSITIONS SECTION -->
<div class="open-positions-container">
  <!-- HEADER -->
  <div class="open-positions-header">
    <p class="open-positions-header-title">Open Positions</p>
    <p class="open-positions-header-dropdown">SORT BY DROPDOWN</p>
    <p class="new-trade-btn">New Trade</p>
  </div>

  <!-- OPEN POSITIONS CARDS -->
  <div class="open-positions-cards">
    <div class="open-positions-card">
      <p>PLACEHOLDER</p>
    </div>

    <div class="open-positions-card">
      <p>PLACEHOLDER</p>
    </div>

    <div class="open-positions-card">
      <p>PLACEHOLDER</p>
    </div>

    <div class="open-positions-card">
      <p>PLACEHOLDER</p>
    </div>

    <div class="open-positions-card">
      <p>PLACEHOLDER</p>
    </div>
  </div>

  <div class="main-page">
    <div class="main-page__feed">
      <!-- GLOBAL FEED/MY FEED HEADER -->
      <div class="feed-header">
        <p class="feed-header__global-label">Global feed</p>
        <p class="feed-header__own-label">My feed</p>
      </div>
    </div>

    <div class="main-page__positions">
      <div class="positions-header">
        <p class="positions-header__overview-label">Overview</p>
        <p class="positions-header__open-positions-label">Open Positions</p>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- prettier-ignore -->
  {% block js_scripts %}
  <script>
    const COINGECKO_API_KEY = "{{ COINGECKO_API_KEY }}";
  </script>
  <script type="module" src="../../static/js/dashboard.js"></script>
  <script type="module" src="../../static/js/new-trade.js"></script>
  {% endblock %}
</div>
