<!-- prettier-ignore -->
{% extends "core/core-base.html" %} 
{% block css_links %}
<link rel="stylesheet" href="../../static/css/general.css" />
<link rel="stylesheet" href="../../static/css/my-trades.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>My Trades - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- OPEN POSITIONS SECTION -->
<div class="my-trades-container">
  <div class="header">
    <p class="header__title">Portfolio Analytics</p>
    <a
      href="{{ url_for('core.dashboard')}}#show-new-trade "
      class="header__new-trade-btn"
      >New Trade</a
    >
  </div>

  <div class="chart-buttons">
    <p class="chart-btn chart-btn--total">Total Value History</p>
    <p class="chart-btn chart-btn--assets">Assets Value History</p>
    <p class="chart-btn chart-btn--balance">Balance History</p>
  </div>

  <div id="wallet-history-chart" height="125%"></div>

  <p class="my-trades-title" id="my-trades-section">My Trades</p>

  <div class="transaction-status-key">
    <div class="open-key-symbol"></div>
    <p class="open-key-label">Active/Open</p>

    <div class="finished-key-symbol"></div>
    <p class="finished-key-label">Finished</p>

    <div class="cancelled-key-symbol"></div>
    <p class="cancelled-key-label">Cancelled</p>
  </div>

  <table class="my-trades-table">
    <colgroup>
      <col class="id" />
      <col class="status" />
      <col class="order-type" />
      <col class="transaction-type" />
      <col class="coin" />
      <col class="quantity" />
      <col class="price" />
      <col class="price-at-execution" />
      <col class="time" />
      <col class="action" />
      <col class="comment" />
    </colgroup>
    <thead>
      <tr class="my-trades-table__header">
        <td class="my-trades-table__header-id"><p>#</p></td>
        <td class="my-trades-table__header-status"><p>STATUS</p></td>
        <td class="my-trades-table__header-order-type"><p>ORDER TYPE</p></td>
        <td class="my-trades-table__header-transaction-type">
          <p>BUY/SELL</p>
        </td>
        <td class="my-trades-table__header-coin"><p>COIN</p></td>
        <td class="my-trades-table__header-quantity"><p>QUANTITY</p></td>
        <td class="my-trades-table__header-price"><p>PRICE</p></td>
        <td class="my-trades-table__header-price-at-execution">
          <p>EXECUTION PRICE</p>
        </td>
        <td class="my-trades-table__header-time"><p>TIME PLACED ↓</p></td>
        <td class="my-trades-table__header-action"><p>ACTION</p></td>
        <td class="my-trades-table__header-comment"><p>COMMENT</p></td>
      </tr>
    </thead>

    <tbody></tbody>
  </table>

  <div class="pagination-buttons">
    <p class="pagination-btn pagination-btn--previous hidden">PREVIOUS</p>
    <p class="pagination-btn pagination-btn--next">NEXT</p>
  </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block js_scripts %}
<script defer src="https://code.highcharts.com/stock/highstock.js"></script>
<script
  defer
  src="https://code.highcharts.com/stock/modules/exporting.js"
></script>
<script type="module" src="../../static/js/core-base.js"></script>
<script type="module" src="../../static/js/my-trades.js"></script>
{% endblock %}
