<!-- prettier-ignore -->
{% extends "core/core-base.html" %} 
{% block css_links %}
<link rel="stylesheet" href="../../static/css/general.css" />
<link rel="stylesheet" href="../../static/css/top-coins.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>Top Coins - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- TOP CRYPTOCURRENCIES TABLE -->
<div class="top-coins-container">
  <!-- TITLE -->
  <p class="top-coins-title">Cryptocurrencies</p>

  <div class="top-coins-header">
    <!-- TITLE  -->
    <p class="top-coins-subtitle">
      See the 100 top performing cryptocurrencies
    </p>

    <!-- SORT BY DROPDOWN -->
    <select class="sort-dropdown-menu" name="cars">
      <option value="market_cap_asc">Market Cap ↑</option>
      <option value="market_cap_desc" selected>Market Cap ↓</option>
      <option value="volume_asc">Volume ↑</option>
      <option value="volume_desc">Volume ↓</option>
    </select>
  </div>

  <div class="table-container">
    <table class="table">
      <colgroup>
        <col class="img" />
        <col class="name" />
        <col class="current-price" />
        <col class="market-cap" />
        <col class="change-1h" />
        <col class="change-24h" />
        <col class="change-7d" />
        <col class="total-volume" />
        <col class="price-graph" />
      </colgroup>
      <th>
        <tr class="table-header">
          <td>#</td>
          <td>CRYPTOCURRENCY</td>
          <td>CURRENT PRICE</td>
          <td>MARKET CAP</td>
          <td>1H</td>
          <td>24H</td>
          <td>7D</td>
          <td>TOTAL VOLUME</td>
          <td>PRICE GRAPH (7D)</td>
        </tr>
      </th>
      <tbody></tbody>
    </table>
    <div class="pagination-buttons-container">
      <p class="pagination-button pagination-button--previous hidden">
        PREVIOUS
      </p>
      <p class="pagination-button pagination-button--next">NEXT</p>
    </div>
  </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block js_scripts %}
<script type="module" src="../../static/js/core-base.js"></script>
<script type="module" src="../../static/js/top-coins.js"></script>
{% endblock %}
