body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5fa;
}

html,
body {
  box-sizing: border-box;
}

/* ******************** SIDEBAR ******************** */
.nav-container {
  padding: 2.4rem;
  border-bottom: 3px solid #eeeef7;
  position: fixed;
  height: 8rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5rem;
  z-index: 10;
}

.nav-container-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.8rem;
}

.nav-container-item:link,
.nav-container-item:visited {
  text-decoration: none;
  color: #9696bb;
  font-size: 14px;
  font-weight: 700;
}

.nav-container-icon {
  height: 1.95rem;
  width: 1.95rem;
  filter: brightness(0) saturate(100%) invert(68%) sepia(5%) saturate(1595%)
    hue-rotate(202deg) brightness(90%) contrast(85%);
  margin-right: 0.6rem;
}

.nav-container-item:hover {
  cursor: pointer;
}

.nav-container-item:hover p,
.nav-container-item:hover img {
  color: #26262a;
  filter: none;
}

/* ********** PORTFOLIO SECTION ********** */
.portfolio-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.4rem;
  margin-right: auto;
}

.portfolio-container__label {
  font-size: 18px;
  font-weight: 400;
}

.portfolio-container__total-value {
  font-size: 18px;
  font-weight: 700;
}

/* ******************** PROFILE IMG + USERNAME + LOGOUT BTN ******************** */
.profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.profile-username {
  font-size: 1.8rem;
  margin-right: 1.4rem;
}

.profile-container a {
  font-size: 1.4rem;
  text-decoration: none;
}

.profile-container a:link,
.profile-container a:visited {
  color: #000000;
}

.profile-container a:hover,
.profile-container a:active,
.profile-container a:focus {
  color: #0069d9;
}

/* ******************** MAIN PAGE CONTENT ******************** */
.main-content {
  margin-top: 8rem;
  height: 100%;
}
