body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5fa;
}

html,
body {
  box-sizing: border-box;
}

/* ******************** SIDEBAR ******************** */
.nav-container {
  padding: 2.4rem;
  border-bottom: 3px solid #eeeef7;
  position: fixed;
  height: 8rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  height: 4.15rem;
  width: 16.5rem;
  margin-right: 8rem;
}

.nav-container-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.8rem;
}

.nav-container-item:link,
.nav-container-item:visited {
  text-decoration: none;
  color: #9696bb;
  font-size: 14px;
  font-weight: 700;
}

.nav-container-icon {
  height: 1.95rem;
  width: 1.95rem;
  filter: brightness(0) saturate(100%) invert(68%) sepia(5%) saturate(1595%)
    hue-rotate(202deg) brightness(90%) contrast(85%);
}

.nav-container-item:hover {
  cursor: pointer;
}

.nav-container-item:hover p,
.nav-container-item:hover img {
  color: #26262a;
  filter: none;
}

/* ********** PORTFOLIO SECTION ********** */
.portfolio-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 8rem;
}

.portfolio-container__label {
  font-size: 18px;
  font-weight: 400;
}

.portfolio-container__img {
  height: 2.5rem;
}

.portfolio-container__total-value {
  font-size: 18px;
  font-weight: 700;
}

/* ******************** MAIN PAGE CONTENT ******************** */

.main-content {
  margin-top: 8rem;
  height: 100%;
}
