/* ******************** MESSAGE POPUP SECTION ******************** */
.message-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  padding: 10px;
  background-color: #ff3b3b;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  z-index: 1000;
}

.message-popup-text {
  margin: 0;
  padding-right: 10px;
}

/* ******************** OPEN POSITIONS SECTION ******************** */
.trending-coins-container {
  /* padding: 4.8rem 4.8rem 2.4rem 4.8rem; */
  padding: 2.4rem 4.8rem;
}

.trending-coins-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.8rem;
}

.trending-coins-header-title {
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
}

.new-trade-btn {
  margin-left: auto;
  background-color: #17c671;
  color: white;
  padding: 0.8rem 3.2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 20px;
}

.new-trade-btn:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.trending-coins-cards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
  height: 16rem;
  overflow: auto;

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.trending-coins-cards::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.trending-coins-card {
  flex: 0 0 auto;
  height: 12rem;
  width: 22rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.6rem;
}

.trending-coins-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

.trending-coins-card__header {
  display: flex;
  align-items: center;
}

.img--first,
.img--second {
  height: 2.4rem;
  width: 2.4rem;
}

.img--first {
  z-index: 1;
  border-radius: 50%;
}

.img--second {
  margin-left: -0.7rem;
}

.coin-name {
  margin-left: 0.8rem;
}

.coin-symbol {
  margin-left: 0.24rem;
}

.trending-coins-card__main {
  display: flex;
  justify-content: space-between;
}

.trending-coins-card__main .coin-price-change {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0;
}

.img--third,
.img--fourth {
  height: 4.5rem;
  width: 4.5rem;

  filter: grayscale(100%);
}

.img--third {
  margin-right: -12.5rem;
  z-index: 1;
  opacity: 0.5;
  border-radius: 50%;
}

.img--fourth {
  opacity: 0.25;
}

.coin-price {
  color: #828282;
  font-size: 1.6rem;
  font-weight: 400;

  margin: 0;
}

/* ******************** MAIN PAGE ******************** */
.main-page {
  display: flex;
  gap: 5rem;
  padding-left: 4.8rem;
}

.main-page__feed {
  flex: 2;
}

.main-page__positions {
  flex: 1;
}

/* ********** GLOBAL FEED/MY FEED HEADER ********** */
.feed-header {
  display: flex;
  gap: 2rem;
}

.feed-header p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9696bb;
}

.feed-header p:hover {
  color: #000000;
  cursor: pointer;
}

.global-feedposts-container,
.own-feedposts-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* ********** FEED BOX ********** */
.feedpost {
  background-color: #ffffff;
  padding: 2.4rem;
  border-radius: 8px;
}

/* ***** FEED BOX HEADER ***** */
.feedpost-header {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.feedpost-header .profile-img {
  height: 6rem;
  border-radius: 50%;
}

.feedpost-header__first .username {
  font-size: 1.6rem;
  font-weight: 700;
}

.feedpost-header__first .timestamp {
  color: #828282;
  font-size: 1.6rem;
  font-weight: 400;
}

.feedpost-header__second {
  background-color: #f5f5fa;
  border-radius: 8px;
  margin-left: auto;

  padding: 1.3rem 1rem;
  width: 28.5rem;
}

.feedpost-header__second div {
  justify-content: end;
}

.feedpost-header__second div:nth-of-type(1) {
  color: #828279;
  font-size: 2.4rem;
  font-weight: 500;
  gap: 0.5rem;

  display: flex;
}

.feedpost-header__second div:nth-of-type(2) {
  color: #828279;
  font-size: 1.6rem;
  font-weight: 400;
  gap: 0.25rem;

  display: flex;
}

/* ***** FEEDBOX COMMENTS SECTION ***** */
.feedpost-comment {
  color: #cccccc;
  font-size: 2.6rem;
  padding: 2.4rem 0;

  border-bottom: 1px solid #e5e5e5;
}

/* ***** FEEDBOX LIKES SECTION ***** */
.feedpost-likes {
  display: flex;
  font-size: 1.8rem;
  padding: 2.4rem 0 0 0;
  align-items: center;
  justify-content: end;
  gap: 0.25rem;
}

.like-btn.active {
  animation: like 0.5s 1;
  fill: red;
  stroke: none;
}

.like-btn {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  transition: all 0.5s;
  font-size: 2rem;
}

.like-btn:hover {
  cursor: pointer;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

/* ********** OVERVIEW/OPEN POSITIONS HEADER ********** */
.positions-header {
  display: flex;
  gap: 2rem;
}

.positions-header p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9696bb;
}

.positions-header p:hover {
  color: #000000;
  cursor: pointer;
}

/* ********** PORTFOLIO OVERVIEW CARD ********** */
.portfolio-overview-card {
  background-color: #ffffff;
  width: 42rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-overview-card .title {
  color: #212529;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.portfolio-overview-card table th {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: 400;
}

.holdings-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-data {
  text-align: center;
}

.holdings-data p,
.amount-data {
  color: #212529;
  font-size: 1.6rem;
  font-weight: 400;
}

/* TODO is this needed? */
td img {
  height: 2.4rem;
  width: 2.4rem;
}
