/* ******************** MESSAGE POPUP SECTION ******************** */
.message-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  padding: 10px;
  background-color: #ff3b3b;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  z-index: 1000;
}

.message-popup-text {
  margin: 0;
  padding-right: 10px;
}

/* ******************** OPEN POSITIONS SECTION ******************** */
.open-positions-container {
  padding: 4.8rem;
}

.open-positions-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 2.4rem;
}

.open-positions-header-title {
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
}

.new-trade-btn {
  margin-left: auto;
  background-color: #17c671;
  color: white;
  padding: 0.8rem 3.2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 20px;
}

.new-trade-btn:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.open-positions-cards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.open-positions-card {
  height: 10rem;
  width: 25.4rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.6rem;
}

.open-positions-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

/* ******************** MAIN PAGE ******************** */
.main-page {
  display: flex;
}

.main-page__feed {
  flex: 2;
}

.main-page__positions {
  flex: 1;
}

/* ********** GLOBAL FEED/MY FEED HEADER ********** */
.feed-header {
  margin-top: 4.8rem;
  display: flex;
  gap: 2rem;
}

.feed-header p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9696bb;
}

.feed-header p:hover {
  color: #000000;
  cursor: pointer;
}

/* ********** OVERVIEW/OPEN POSITIONS HEADER ********** */
.positions-header {
  display: flex;
  margin-top: 4.8rem;
  gap: 2rem;
}

.positions-header p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #9696bb;
}

.positions-header p:hover {
  color: #000000;
  cursor: pointer;
}
