form {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.input--password {
  margin-bottom: -1rem;
}

.invalid-feedback {
  text-align: center;
}

.invalid-feedback-password:first-of-type {
  margin-top: 0.2rem;
}

.invalid-feedback-password:last-of-type {
  margin-bottom: -0.6rem;
}

.invalid-feedback-pass-confirm {
  margin-bottom: 0.4rem;
}
