<!-- prettier-ignore -->
{% extends "login-base.html" %}
{% block content %}
<!-- prettier-ignore -->
<form method="post">
  {{ form.hidden_tag() }} 

  {{ form.email.label }} {{ form.email }}
  <br />

  {{ form.password.label }} {{ form.password }}
  <br />
  <!-- PASSWORD ERROR MESSAGES -->
  {% for error in form.password.errors %}
  <div class="invalid-feedback">
    {{ error }}
  </div>
  {% endfor %}

  {{ form.submit() }}
</form>
<a href="{{ url_for('user_authentication.login_google') }}"
  >Log in with Google</a
>
<br />
<a href="{{ url_for('user_authentication.login_discord') }}"
  >Log in with Discord</a
>
<br />
<a href="{{ url_for('user_authentication.register') }}"
  >Don't have an account? Sign up</a
><br />
<a href="{{ url_for('user_authentication.forgot_password') }}"
  >Forgot password?</a
>
{% endblock %}
