<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link rel="stylesheet" href="../../static/css/login.css" />
{% endblock %} {% block content %}
<!-- prettier-ignore -->
<h1 class="title--login">Login</h1>

<form method="post">
  {{ form.hidden_tag() }} {{ form.email }}
  <br />

  {{ form.password }}
  <br />
  <!-- PASSWORD ERROR MESSAGES -->
  {% for error in form.password.errors %}
  <div class="invalid-feedback">{{ error }}</div>
  {% endfor %}

  <a
    class="link link--forgot-password"
    href="{{ url_for('user_authentication.forgot_password') }}"
    >Forgot your password?</a
  >

  {{ form.submit() }}
</form>

<div class="alternative-logins">
  <p class="label">Or log in with</p>

  <a href="{{ url_for('user_authentication.login_google') }}">
    <img
      class="logo-link logo-link--google"
      src="../../static/img/logo-google.svg"
      alt="Google logo"
    />
  </a>

  <a href="{{ url_for('user_authentication.login_discord') }}">
    <img
      class="logo-link logo-link--discord"
      src="../../static/img/logo-discord.svg"
      alt="Discord logo"
    />
  </a>
</div>
<span
  >Don't have an account?&nbsp;<a
    class="link link--sign-up"
    href="{{ url_for('user_authentication.register') }}"
    >Sign Up</a
  ></span
>

{% endblock %}
