<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link rel="stylesheet" href="../../static/css/pick-username.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>Pick Username - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- prettier-ignore -->
<h1 class="title title--pick-username">Pick a Username</h1>

<form method="post">
  {{ form.hidden_tag() }} {{ form.username }}
  <br />

  <!-- USERNAME ERROR MESSAGES -->
  {% for error in form.username.errors %}
  <div class="invalid-feedback">{{ error }}</div>
  {% endfor %} {{ form.submit() }}
</form>
{% endblock %}
