<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link
  rel="stylesheet"
  href="../../static/css/password-reset-token-invalid.css"
/>
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>Password Reset Link Invalid - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- prettier-ignore -->
<h1 class="title title--token-invalid">Password Reset Unsuccessful</h1>
<p>This password reset link is either invalid or has already been used.</p>
<p>Please request a new password reset link by clicking the button below.</p>
<div class="link-container">
  <a href="{{url_for('user_authentication.login')}}"
    >Resend Password Reset Email</a
  >
</div>
{% endblock %}
