<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link
  rel="stylesheet"
  href="../../static/css/password-reset-request-email-form.css"
/>
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>Request Password Reset - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<h1 class="title title--login">Forgot Password</h1>
<form method="post">
  {{ form.hidden_tag() }} {{ form.email }}
  <br />

  <!-- EMAIL ERROR MESSAGES -->
  {% for error in form.email.errors %}
  <div class="invalid-feedback">{{ error }}</div>
  {% endfor %} {{ form.submit() }}
</form>
{% endblock %}
