<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link
  rel="stylesheet"
  href="../../static/css/password-reset-token-expired.css"
/>
{% endblock %} {% block content %}
<!-- prettier-ignore -->
<h1 class="title title--reset-expired">Password Reset Link Expired</h1>
<p>
  The password reset link for <strong>{{ user_email }}</strong> has expired.
</p>
<p class="hello">
  Please request a new password reset link by clicking the button below.
</p>
<div class="link-container">
  <a href="{{url_for('user_authentication.login')}}">Password Reset Link</a>
</div>
{% endblock %}
