<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block title %}
<title>Password Reset Email Sent - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block css_links %}
<link
  rel="stylesheet"
  href="../../static/css/password-reset-email-successfully-sent.css"
/>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- prettier-ignore -->
<h1 class="title title--email-sent">Email Successfully Sent</h1>
<p>
  If the email address you entered is registered with us, we have sent a
  password reset link to it.
</p>
<p>Please check your inbox for the email.</p>
<p>Follow the instructions in the email to reset your password.</p>
<p>If you cannot find the email, please check your spam folder.</p>
{% endblock %}
