<!-- prettier-ignore -->
{% extends "login/login-base.html" %}
<!-- prettier-ignore -->
{% block css_links %}
<link rel="stylesheet" href="../../static/css/password-reset-successful.css" />
{% endblock %}
<!-- prettier-ignore -->
{% block title %}
<title>Password Successfully Reset - CoinPulse</title>
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- prettier-ignore -->
<h1 class="title title--email-sent">Password Successfully Reset</h1>
<p>Your password has been successfully reset.</p>
<p>Please click the link below to login.</p>
<div class="login-btn-container">
  <a href="{{url_for('user_authentication.login')}}">Log In</a>
</div>
{% endblock %}
