<!-- prettier-ignore -->
{% extends "login-base.html" %} 
{% block content %}
<!-- prettier-ignore -->
<form method="post">
  {{ form.hidden_tag() }} 

  {{ form.email.label }} {{ form.email }}
  <br />
  {{ form.password.label }} {{ form.password }}
  <br />
  {{ form.pass_confirm.label }} {{ form.pass_confirm }}
  <br />
  {{ form.submit() }}
</form>
<a href="{{ url_for('user_authentication.login_google') }}"
  >Register with Google</a
>
<br />
<a href="{{ url_for('user_authentication.login_discord') }}"
  >Register with Discord</a
>
<br />
<a href="{{ url_for('user_authentication.login') }}"
  >Already have an account? Sign in</a
>
{% endblock %}
